---
import MainLayout from "../layouts/MainLayout.astro";
const image = "src/assets/images/image-omelette.jpeg";
---

<MainLayout title="Inicio">
  <div class="flex justify-center items-center">
    <div class="sm:w-[500px] rounded-3xl bg-white">
      <img class="mb-[42px] px-8 pt-8" src={image} alt="" />
      <div class="px-12 mb-[66px]">
        <h1 class="text-5xl text-DarkCharcoal mb-[30px] young-serif">
          Simple Omelette Recipe
        </h1>
        <p class="font-light text-xl text-WengeBrown">
          An easy and quick dish, perfect for any meal. This classic omelette
          combines beaten eggs cooked to perfection, optionally filled with your
          choice of cheese, vegetables, or meats.
        </p>
      </div>
      <div class="px-[120px] mb-[66px]">
        <h2 class="font-bold text-DarkRaspberry text-lg mb-2">
          Preparation time .
        </h2>
        <ul class="list-disc list-inside">
          <li class="text-WengeBrown mb-2">
            <span class="font-bold">Total:</span> Approximately 10 minutes
          </li>
          <li class="text-WengeBrown mb-2">
            <span class="font-bold">Preparation:</span> 5 minutes
          </li>
          <li class="text-WengeBrown mb-2">
            <span class="font-bold">Cooking:</span> 5 minutes
          </li>
        </ul>
      </div>
      <div class="px-12 mb-[50px]">
        <h2 class="text-Nutmeg young-serif text-3xl mb-[30px]">Ingredients</h2>
        <ul class="list-disc pl-6">
          <li class="text-WengeBrown mb-2">2-3 large eggs</li>
          <li class="text-WengeBrown mb-2">Salt, to taste</li>
          <li class="text-WengeBrown mb-2">Pepper, to taste</li>
          <li class="text-WengeBrown mb-2">1 tablespoon of butter or oil</li>
          <li class="text-WengeBrown mb-2">
            Optional fillings: cheese, diced vegetables, cooked meats, herbs
          </li>
        </ul>
      </div>
      <hr />
      <div class="my-[50px] px-12">
        <h2 class="text-Nutmeg young-serif text-3xl mb-[30px]">Instructions</h2>
        <ol class="list-inside">
          <li class="text-WengeBrown mb-2">
            <span class="font-bold">Beat the eggs:</span> In a bowl, beat the eggs
            with a pinch of salt and pepper until they are well mixed. You can add
            a tablespoon of water or milk for a fluffier texture.
          </li>
          <li class="text-WengeBrown mb-2">
            <span class="font-bold">Heat the pan:</span> Place a non-stick frying
            pan over medium heat and add butter or oil.
          </li>
          <li class="text-WengeBrown mb-2">
            <span class="font-bold">Cook the omelette:</span> Once the butter is
            melted and bubbling, pour in the eggs. Tilt the pan to ensure the eggs
            evenly coat the surface.
          </li>
          <li class="text-WengeBrown mb-2">
            <span class="font-bold">Add fillings (optional):</span> When the eggs
            begin to set at the edges but are still slightly runny in the middle,
            sprinkle your chosen fillings over one half of the omelette.
          </li>
          <li class="text-WengeBrown mb-2">
            <span class="font-bold">Fold and serve:</span> As the omelette continues
            to cook, carefully lift one edge and fold it over the fillings. Let it
            cook for another minute, then slide it onto a plate.
          </li>
          <li class="text-WengeBrown mb-2">
            <span class="font-bold">Enjoy:</span> Serve hot, with additional salt
            and pepper if needed.
          </li>
        </ol>
        Calories 277kcal Carbs 0g Protein 20g Fat 22g
      </div>
      <hr />
      <div class="mt-[50px] px-12">
        <h2 class="text-Nutmeg young-serif text-3xl mb-[30px]">Nutrition</h2>
        <p class="font-light text-xl text-WengeBrown">
          The table below shows nutritional values per serving without the
          additional fillings.
        </p>
        <div
          class="flex justify-center items-center text-xl text-WengeBrown mt-5">
          <table>
            <tr class="border-b border-LightGrey">
              <td class="py-3 px-9">Calories</td>
              <td class="py-3 px-9 text-Nutmeg font-bold">277kcal</td>
            </tr>
            <tr class="border-b border-LightGrey">
              <td class="py-3 px-9">Carbs</td>
              <td class="py-3 px-9 text-Nutmeg font-bold">0g</td>
            </tr>
            <tr class="border-b border-LightGrey">
              <td class="py-3 px-9">Protein</td>
              <td class="py-3 px-9 text-Nutmeg font-bold">20g</td>
            </tr>
            <tr class="border-b border-LightGrey">
              <td class="py-3 px-9">Fat</td>
              <td class="py-3 px-9 text-Nutmeg font-bold">22g</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
